export(aggregate)
export(arrange)
export(assert_cols)
export(assert_key)
export(bind_cols)
export(bind_rows)
export(by_apply)
export(combine)
export(common_names)
export(compare)
export(count)
export(describe)
export(dims)
export(distinct)
export(drop)
export(duplicated_keys)
export(filter)
export(freq)
export(glimpse)
export(headtail)
export(nrows)
export(ncols)
export(types)
export(map)
export(map_chr)
export(map_dbl)
export(map_int)
export(map_lgl)
export(missingness)
export(merge)
export(semimerge)
export(antimerge)
export(crossmerge)
export(updatemerge)
export(mutate)
export(pick)
export(profile)
export(reduce)
export(reorder)
export(relocate)
export(rename)
export(reshape)
export(select)
export(split)
export(slice)
export(stack)
export(subset)
export(summaries)
export(summarise)
export(summarize)
export(summarytab)
export(transmute)
export(transform)
export(types)
export(unstack)
export(walk)
export(within)
