export(addedrows)
export(adddays)
export(addmonths)
export(addweeks)
export(addyears)
export(aggregate)
export(antimerge)
export(applyby)
export(applycols)
export(arrange)
export(assert_cols)
export(assert_key)
export(assertcols)
export(assertcomplete)
export(assertkey)
export(assertnames)
export(assertrange)
export(assertrows)
export(asserttype)
export(assertunique)
export(assertvalues)
export(bind_cols)
export(bind_rows)
export(blanktona)
export(betweendates)
export(by_apply)
export(cardinality)
export(center)
export(changedcols)
export(changedrows)
export(ceilingdate)
export(classes)
export(cleannames)
export(collapselevels)
export(collapsevalues)
export(collapsetext)
export(colnames)
export(common_names)
export(commonnames)
export(compare)
export(compareschema)
export(combine)
export(constants)
export(contains)
export(convertcols)
export(count)
export(countmatch)
export(crossmerge)
export(cumcount)
export(cumedist)
export(cummean)
export(endswith)
export(day)
export(dateseq)
export(datediff)
export(difference)
export(describe)
export(diffrows)
export(dims)
export(drop)
export(duplicated_keys)
export(duplicatekeys)
export(duplicaterows)
export(duplicatenames)
export(emptycols)
export(emptyrows)
export(equaldata)
export(equalrows)
export(expandlevels)
export(expandrows)
export(extract)
export(extractall)
export(extractbetween)
export(extractint)
export(extractnum)
export(fillboth)
export(filldown)
export(fillup)
export(filter)
export(firstby)
export(firstcols)
export(firstrows)
export(floordate)
export(freq)
export(glimpse)
export(headtail)
export(hour)
export(invalidrows)
export(invalidvalues)
export(isalpha)
export(isalphanumeric)
export(isblank)
export(isemail)
export(isintegertext)
export(isnumerictext)
export(isurl)
export(intersectrows)
export(joinrelationship)
export(jointext)
export(keepmissing)
export(lastby)
export(lastcols)
export(lastrows)
export(lagvalue)
export(leadvalue)
export(left)
export(locate)
export(locateall)
export(lower)
export(lump)
export(map)
export(map_chr)
export(map_dbl)
export(map_int)
export(map_lgl)
export(matchedkeys)
export(matches)
export(middle)
export(minute)
export(missingindicator)
export(missingness)
export(missingrows)
export(merge)
export(move)
export(mutate)
export(naif)
export(nato)
export(ncols)
export(nearesttext)
export(nearestmerge)
export(similartext)
export(nrows)
export(normalizeencoding)
export(normalizeunicode)
export(natoblank)
export(nonequimerge)
export(omitmissing)
export(orderrows)
export(overlapmerge)
export(outofrange)
export(padcenter)
export(padleft)
export(padright)
export(parsecurrency)
export(parsedate)
export(parsedatetime)
export(parsefailures)
export(parseint)
export(parselogical)
export(parsenum)
export(parsepercent)
export(percentchange)
export(percentrank)
export(pick)
export(profile)
export(propcount)
export(month)
export(week)
export(quarter)
export(quantilegroup)
export(recombine)
export(recode)
export(reduce)
export(repairnames)
export(removeaccents)
export(removeall)
export(removedrows)
export(removeduplicates)
export(removetext)
export(rename)
export(renamewith)
export(replaceall)
export(replacecols)
export(replacevalues)
export(replacewhere)
export(rescale)
export(reverse)
export(reorder)
export(reorderlevels)
export(relocate)
export(rbindfill)
export(right)
export(rowall)
export(rowany)
export(rowapply)
export(rowcount)
export(rowfirst)
export(rowlast)
export(rowmax)
export(rowmin)
export(rownames)
export(rownumber)
export(rollapply)
export(rollmax)
export(rollmean)
export(rollmedian)
export(rollmin)
export(rollprod)
export(rollsd)
export(rollsum)
export(rollvar)
export(rangemerge)
export(rollingmerge)
export(samplefrac)
export(samplerows)
export(sameschema)
export(second)
export(select)
export(separate)
export(semimerge)
export(sentencecase)
export(slice)
export(squish)
export(split)
export(splitfirst)
export(splitlast)
export(splittext)
export(startswith)
export(standardize)
export(subset)
export(summaries)
export(summarise)
export(summarize)
export(summarytab)
export(textdist)
export(textlen)
export(titlecase)
export(truncate)
export(tolong)
export(towide)
export(transliterate)
export(transmute)
export(transform)
export(transpose)
export(trim)
export(types)
export(uniques)
export(unite)
export(unmatchedkeys)
export(unionrows)
export(unstack)
export(upper)
export(updatemerge)
export(weekday)
export(within)
export(winsorize)
export(walk)
export(year)
export(yearday)
export(replacetext)
export(rounddate)
